@use "./themes" as *;
@use "sass:map";
@use 'sass:color';

/*
* Adds a flexbox
* $direction - orientation of desired flexbox
* $justify - how the elements will be spaced horizontally
* $align - how the elements will be spaced vertically
*/
@mixin flexbox($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

/*
* Adds desired theme color to desired css key
* $key - css property to apply  color
* $theme - theme to select
* $color - color to designate to css property
*/
@mixin themify($key, $theme, $color) {
    #{$key}: map.get($theme, $color);
}

/*
* Returns colors for every theme, and inverts buttons and dropdown selectors.
* $class - class of component to apply styles to
*/
@mixin themifyComponent($class) {

    @each $theme, $colors in $themes {

        $primary: map-get($colors, primary);
        $secondary: map-get($colors, secondary);

        .#{$theme} .#{$class} {
            background-color: $secondary;
            color: $primary;

            button,
            select {
                background-color: color.adjust($primary, $lightness: 5);
                color: $secondary;
            }
        }
    }
}