// shared colors
$cream: #e5dac9;

$plain-day: (
    primary: $cream,
    secondary: #191516,
);

$plain-night: (
    primary: #232422,
    secondary: $cream,
);

$mint-mystic: (
    primary: #c3f5c9,
    secondary: #602ca7,
);