
$plain-day: (
    primary: #e5dac9,
    secondary: #191516,
);

$plain-night: (
    primary: #232422,
    secondary: #e5dac9,
);

$mint-mystic: (
    primary: #92ebc4,
    secondary: #602ca7,
);

$mint-mystic-dark: (
    secondary: #c3f5c9,
    primary: #602ca7,
);

$crimson-sand: (
    primary: #c15b50,
    secondary: #e4d8be,
);

$emerald: (
    primary: #05916c,
    secondary: #f3e6db,
);

$strawberry: (
    primary: #f587c0,
    secondary: #f7eee2,
);

$cinnamon: (
    primary: #704e37,
    secondary: #eae4cf,
);

$test: (
    primary: #704e37,
    secondary: #eae4cf,
);

$themes: (
        plain-day: (
            primary: #e5dac9,
            secondary: #191516,
        ),
        plain-night: (
            primary: #232422,
            secondary: #e5dac9,
        ),
        mint-mystic: (
            primary: #92ebc4,
            secondary: #602ca7,
        ),
        mint-mystic-dark: (
            secondary: #c3f5c9,
            primary: #602ca7,
        ),
        crimson-sand: (
            primary: #c15b50,
            secondary: #e4d8be,
        ),
        emerald: (
            primary: #05916c,
            secondary: #f3e6db,
        ),
        strawberry: (
            primary: #f587c0,
            secondary: #f7eee2,
        ),
        cinnamon: (
            primary: #704e37,
            secondary: #eae4cf,
        ),
        ketchup: (
            primary: #e6ce5b,
            secondary: #cc6356,
        ),
        test: (
            primary: #294a9d,
            secondary: #cc6356,
        ),
)