  /* font families */
  $regular-font: "Jost", sans-serif;
  $company-font: "Righteous", sans-serif;

  /* font sizes */
  $smallScreenH1: 1.3rem;
  $wideScreenH1: 3rem;

  $smallScreenH2: 1.2rem;
  $wideScreenH2: 2rem;

  // container
  $pageMargin: 16px;