  /* font families */
  $regular-font: "Jost", sans-serif;
  $company-font: "Righteous", sans-serif;

  /* font sizes */
  $smallScreenH1: 1.3rem;
  $wideScreenH1: 3rem;

  $smallScreenH2: 1.2rem;
  $wideScreenH2: 2rem;

  // container
  $pageMargin: 16px;
  
  $plainDay-primary: #edfaef;
  $plainDay-secondary: #0f0f0f;

  $plainNight-primary: #0f0f0f;
  $plainNight-secondary: #edfaef;

  $background-color: $plainDay-primary;
  $color: $plainDay-secondary;