@use "../abstracts" as *;

.goalsHeader {
        @include flexbox(column, space-between, center);
        gap: 10px;
        background-color: black;
        color: white;
        padding: 16px;

    @media (min-width: 500px) {
        @include flexbox(row, space-between, center);
        gap: 16px;
    }
}