@use "../abstracts" as *;

.goal {
    @include flexbox(column, center, center);
    gap: 16px;
    padding: 16px;
    width: 100%;
    max-width: 700px;

    &--header {
        @include flexbox(column, center, center);
        gap:16px;
    }

    &--nextTaskContainer {
        @include flexbox(column, space-between, center);
        gap: 16px;
        width: 100%;

        @media (min-width: 500px) {
         @include flexbox(row, space-between, center);
        }
    }
}