@use "../abstracts" as *;

.taskContainer {
    @include flexbox(column, center, center);
    gap: 16px;
    padding: 16px;

    &--addBtn {
        display: block;
        margin-left: auto;
    }

    &--taskDate {
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;

        span {
            font-size: $smallScreenH1
        }
    }

    &--list {
        @include flexbox(column, center, center);
        gap: 16px;
    }

}

.taskMetrics {
    @include flexbox(row, center, center);
    gap: 16px;
    align-self: center;
}